version: '3.8'

services:
  webpage-color-changes:
    image: yesyunxin/webpage-color-changes:main
    container_name: webpage-color-changes
    restart: unless-stopped
    ports:
      - "8080:5000"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./screenshots_data:/app/screenshots
      - ./instance_data:/app/instance
    environment:
      - TZ=Asia/Shanghai
      - ADMIN_USER=admin
      - ADMIN_PASSWORD=admin123
      # (可选) 为 Flask session 设置一个更安全的密钥
      - SECRET_KEY=your_super_secret_key_here
